<mat-toolbar>

  <mat-toolbar-row>
    <div class="icon">
      <mat-icon>timeline </mat-icon>
    </div>
    <span> Bitcoin Kueri</span>
    <span class="example-spacer"></span>

  </mat-toolbar-row>

</mat-toolbar>

<app-today></app-today>
<app-consult></app-consult>