<ng-container *ngFor="let Consult of consultToday">
    <div class="container">
        <h1 style="color: #FF4081">Hoje</h1>
        <div class="table-responsive-lg">
            <table class="table table-hover">
                <tr>
                    <th scope="col">Data Início</th>
                    <td>{{Consult.time_open}}</td>
                </tr>

                <tr>
                    <th scope="col">Momento Atual</th>
                    <td>{{Consult.time_close}}</td>
                </tr>

                <tr>
                    <th scope="col">Valor Inicial</th>
                    <td>US$ {{Consult.open}}</td>
                </tr>

                <tr>
                    <th scope="col">Valor Final</th>
                    <td>US$ {{Consult.close}}</td>
                </tr>

                <tr>
                    <th scope="col">Valor mais alto</th>
                    <td>US$ {{Consult.high}}</td>
                </tr>

                <tr>
                    <th scope="col">Valor mais baixo</th>
                    <td>US$ {{Consult.low}}</td>
                </tr>
            </table>
        </div>
    </div>

</ng-container>