<!-- <div class="dialog">
  <h1 mat-dialog-title>Consulta por data</h1>
  <div mat-dialog-content>
  </div>
  <div mat-dialog-actions>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Escolha o range de data</mat-label>
        <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange">
          <input matStartDate placeholder="Data Início" formControlName="start">
          <input matEndDate placeholder="Data Final" formControlName="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </form>
    <button mat-button (click)="cancel()">Cancelar</button>
    <button mat-button (click)="submit()">Consultar</button>
  </div>
</div> -->