<ng-container>
    <div class="container">
        <div class="chart-container">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <h1 style="color: #FF4081">Consulta por datas</h1>
        <form [formGroup]="form">
            <mat-form-field>
                <mat-label style="color: #FF4081">Escolha o range de data</mat-label>
                <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange">
                    <input matStartDate placeholder="Data Início" formControlName="start">
                    <input matEndDate placeholder="Data Final" formControlName="end">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <button class="btn-submit" mat-raised-button color="accent" (click)="submit()">
                <mat-icon>search</mat-icon>Consultar
            </button>
        </form>
        <table class="table table-hover">
            <tr>
                <th scope="col">Data Início</th>
                <th scope="col">Valor Final</th>
            </tr>
        </table>
        <div class="graphic" *ngFor="let Consult of consultHistorical">
            <div class="table-responsive-lg">
                <table class="table table-hover">
                    <tr>
                        <td>{{Consult.time_open}}</td>
                        <td>US$ {{Consult.close}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</ng-container>